<a href="https://colab.research.google.com/github/rakeshp1/DS601_Spring21/blob/main/assignment_02/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment_02
## 690 Fall 2021

## Code to enter 10 integers

In [73]:
x= []
for i in range(0,10):
  while True:
      y= input("enter a integer:")
      try:
        z = int(y)
        x.append(z)
        print("got integer",y)
        break
      except:
        print("You must enter an integer. try again.")

print( "entered list:", x)

enter a integer:12
got integer 12
enter a integer:34
got integer 34
enter a integer:56
got integer 56
enter a integer:
You must enter an integer. try again.
enter a integer:58
got integer 58
enter a integer:67
got integer 67
enter a integer:34
got integer 34
enter a integer:6
got integer 6
enter a integer:44
got integer 44
enter a integer:43
got integer 43
enter a integer:23
got integer 23
entered list: [12, 34, 56, 58, 67, 34, 6, 44, 43, 23]

##1. Sum of the list

In [75]:
sum = 0

for i in x:
  sum+= i
print("sum =", sum)

sum = 377

## 2. Minimum value of the list.

In [76]:
min= x[0]
for i in range(len(x)):
    if x[i] < min:
        min = x[i] 
print(" Minimum value is: ",min)

 Minimum value is:  6

## 3. Maximum value of the list.

In [77]:
max=x[0]
for i in range(len(x)):
    if x[i] > max:
        max = x[i] 
print("The Maximium value is: ",max)

The Maximium value is:  67

## 3. Range of the list.

In [78]:
Range= max-min
print("Range :", Range)

Range : 61

## 4. Mean value of the list.

In [79]:
mean=sum/len(x)
print("mean:", mean)

mean: 37.7

## 5. Variance value of the list.

In [80]:
for i in range(len(x)):  
  x[i] = x[i] - mean               
for i in x:  
  z = i**2                         
sum = 0  
for i in x:  
  sum+=i*i;                      
variance = sum/len(x)              
print("variance is:", variance)

variance is: 358.21000000000004

## 6.Standard deviation of the list

In [81]:
SD = variance ** 0.5  
print('Standard deviation:', SD)

Standard deviation: 18.92643653728826